.boton{
    padding-top: 10px;
    padding-left: 30px;
}
#descripcion{
    padding-left: 30px;
    padding-right: 15px;
    padding-top: 20px;
}
div{
    background-color: #a9a0c9;
}

.exp, .descrip{
    min-width: 200px;
}

.año{
    min-width: 60px;
    text-align: center;
}

.btn{
    min-width: 30px;
    margin:5px;
}

h2{
    padding-top: 20px;
    padding-left: 30px;
    color:#21144e;
    font-style: italic;
}

#titulo{
    text-shadow: 100px -13px 3px #8A12EC;
    background: linear-gradient(360deg, #A672F7 0%, #C364F3 52%, #fff 100%);
    min-height: 60px;
}
img{
    max-width:150px;
}
@media (max-width:480px){
    table{
        width:100%;
    }
    table tr{
        display:flex;
        flex-direction: column;
        padding: 16px;
    }
    .exp, .descrip, .año, .btn {
        border:none;
        min-width:100%;
    }
    
}