<div class="container-fluid">
    <div class="row">
        <div class="col" id="titulo">
            <h2>Experiencia Laboral</h2>
        </div>
    </div>
    <div class="row">
        <div class="boton">
            <div class="col-sm-3 col-md-3 col-lg-3">
                <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged">
                    Nueva Experiencia
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" id="descripcion">
            <div class="table table-responsive">
                <table class="table table-hover">
                    <tbody>
                        <tr *ngFor="let Experiencia of expe">
                            <td class="exp"><h4>{{Experiencia.nombreExp}}</h4></td>
                            <td class="año align-middle">{{Experiencia.inicioExp}} - {{Experiencia.finExp}}</td>
                            <td class="descrip">{{Experiencia.descripExp}}</td>
                            <td class="btns" *ngIf="isLogged">
                                <button class="btn btn-secondary" routerLink="/editexp/{{Experiencia.id}}"><i class="bi bi-pencil-square"></i></button>
                                <button class="btn btn-danger" (click)="delete(Experiencia.id)"><i class="bi bi-trash3"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>       
    </div>
</div>
