<div class="container-fluid">
    <div class="row">
        <div class="titulo">
            <div>
                <h3>Bienvenidos a</h3>
            </div>
            <div>
                <h1>Mi Portfolio</h1>
            </div>
        </div>
    </div>
    <div class="row" id="bubble">
        <div class="burbujas">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>