
*{
    margin: 0;
    padding: 0;
}
.container-fluid{
    width: 100%;
    height: 500px;
    background-image: linear-gradient(135deg,#040111, #0d135f, #3c297a, #0d135f, #040111);
    background-size:400%;
    animation: fondanim 15s infinite;
}

@keyframes fondanim{
    0%{
        background-position: 0% 50%;        
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.burbujas div{
    background: #73c2f0;
    opacity: 0.5;
    border-radius: 100%;
    position: absolute;
    bottom: 0px;
    animation: animbur 4s linear infinite;
}

.burbujas div:nth-child(1){
    width: 35px;
    height: 35px;
    left: 5%;
    animation-duration: 4s;
}
.burbujas div:nth-child(2){
    width: 10px;
    height: 10px;
    left: 15%;
    animation-duration: 5s;
}
.burbujas div:nth-child(3){
    width: 40px;
    height: 40px;
    left: 29%;
    animation-duration: 8s;
}
.burbujas div:nth-child(4){
    width: 20px;
    height: 20px;
    left: 37%;
    animation-duration: 6s;
}
.burbujas div:nth-child(5){
    width: 35px;
    height: 35px;
    left: 45%;
    animation-duration: 9s;
}
.burbujas div:nth-child(6){
    width: 10px;
    height: 10px;
    left: 53%;
    animation-duration: 3s;
}
.burbujas div:nth-child(7){
    width: 60px;
    height: 60px;
    left: 61%;
    animation-duration: 10s;
}
.burbujas div:nth-child(8){
    width: 25px;
    height: 25px;
    left: 69%;
    animation-duration: 4s;
}
.burbujas div:nth-child(9){
    width: 40px;
    height: 40px;
    left: 77%;
    animation-duration: 7s;
}
.burbujas div:nth-child(10){
    width: 15px;
    height: 15px;
    left: 80%;
    animation-duration: 2s;
}
@keyframes animbur{
    0% {
        width: 0px;
        height: 0px;
    }
    3%{
        width: 25px;
        height: 25px;
        bottom:5vh
    }
    25%{
        margin-left:15%;
        opacity: 0.1;
    }
    50%{
        margin-left: 5%;
        opacity: 0.3;
    }
    75%{
        margin-left: 10%;
        opacity: 0.1;
    }
    100%{
        bottom:70vh;
        opacity:0.3;
    }
}
.titulo h3{
    padding-top:100px;
    color: #d1b3f3;
    font-size: 4em;
    font-family: 'Noto San';
    text-align: center;  
}
.titulo h1{
    margin-top: 5%;
    color: #d1b3f3;
    font-size: 6em;
    font-family:lucida hand;
    text-align: center; 
    font-weight: bold; 
}